body {color:darkslategray;
background-color: aquamarine;
font-family: Verdana, Geneva, Tahoma, sans-serif;}
nav {background-color: slategrey;}
nav {
    padding: 10px;
    margin-bottom: 30px;
    background-color: slategrey;
}
nav a :hover {background-color:gray}
div {border: 1px solid black;
margin: 30px;
padding: 50px;
background-color: white;
border-radius: 25px;}
